:root {
  /* 
  задал переменные для размера текста 
  соответствующие размерам из макета
  */
  --text-base: 18px;
  --text-lg: 20px;
  --text-xl: 22px;
  --text-2lx: 40px;
  --text-3xl: 100px;

  --spacing-09: 0.9em;
  --spacing-11: 1.1em;
}

/* утилити классы */
.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 60%;
  background-color: #000;
}

.big-spacing {
  letter-spacing: var(--spacing-11);
}

.address {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-style: normal;
}

.active {
  text-decoration: none;
}

/* 
 * в макете высота строки задана как 24.3px,
 * решил рассчитать относительный размер
 *
 * можно было использовать calc()
 */
.address-line {
  line-height: 1.35em;
}

/* Шапка
  ========================================================================== */

/* 
 * изначально пробовал 1fr min-content 1fr,
 * но все равно пришлось задавать размер логотипу,
 * поэтому задал его в настройках грида
 */
.header {
  display: grid;
  grid-template-columns: 1fr 136px 1fr;
  align-items: center;
  padding: 93px 0 92px;
  font-size: var(--text-base);
}

.header__nav {
  grid-column: 1 / 2;
  place-self: center;
}

.header__menu {
  display: flex;

  /* при flex-wrap, увеличение рамзера текста переносит строки меню,
    а не сдвигает логотип (в колонке с адресом есть свободное место) */
  flex-wrap: wrap;
  gap: 29px;
  list-style-type: circle;
  text-wrap: nowrap;
}

.header__menu-item {
  padding-left: 5px;
}

/* 
 * был отдельный класс как для menu-link,
 * но решил использовать такой синтаксис, 
 * так как href="#0" всегда ведет на главную
 */
.header__menu-item:has([href='#0']) {
  list-style-type: none;
}

/* немного отсебятины */
.header__logo-link {
  transition: scale 0.3s ease;
}

.header__logo-link:hover {
  scale: 1.05;
}

.header__address {
  grid-column: 3 / 4;
  justify-self: end;
  align-self: center;
  max-width: 235px;
  margin-right: 55px;
}

/* Обложка
  ========================================================================== */

.cover {
  position: relative;
  min-height: 757px;
  margin-bottom: 180px;
  padding: 165px 19px 50px 50px;
  color: #fff;
  background-image: url(../images/cover.jpg);

  /* сдвинул фон для соответствия макету */
  background-position: center;
  background-size: cover;
}

/* флекс для более простой установки промежутка между 
  заголовком и описанием */
.cover__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 88px;
}

.cover__title {
  font-size: var(--text-3xl);
  line-height: 1.15em;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
  margin-bottom: 19px;
}

.cover__title-first {
  text-align: left;
}

.cover__title-second {
  text-align: center;
}

.cover__title-third {
  text-align: right;
}

/* флекс для более простой расстановки элементов */
.cover__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 32px;
  font-size: var(--text-xl);
  text-transform: uppercase;
}

.cover__button {
  border: 1px solid #fff;
  padding: 12px 31px;
  color: #fff;
  text-transform: inherit;
  background-color: transparent;
  cursor: pointer;
}

.cover__text {
  word-spacing: var(--spacing-09);

  /* одна строчка текста - не думаю, что нам важна высота строки */
  /* line-height: 1.3em; */
}

/* Лоты
  ========================================================================== */

.lots {
  margin: 0 24px 120px;
  color: #fff;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  color: #000;
  font-size: var(--text-2lx);
  text-transform: uppercase;
}

/* использовал грид, чтоб не задавать ширину карточкам */
.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-bottom: 30px;
  list-style-type: none;
}

.lots__card-list-item {
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

/* 
 * можно было обернуть в еще один контейнер
 * и уже ему прописать position: relative,
 * (как это было в обложке), но вообще большой
 * разницы в данном проекте мне кажется нет 
 */
.card__title {
  position: relative;
  z-index: 2;
  font-size: var(--text-xl);
  line-height: 1.2em;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 2;
  font-size: var(--text-lg);
  line-height: 1.2em;
}

.lots__look-more-link {
  margin-left: 40px;
  color: #000;
  font-size: var(--text-lg);
}

/* Об аукционе
  ========================================================================== */

.about {
  display: grid;

  /* для корректного отступа задана ширина первой колонки
  равная ширине карточки лота */
  grid-template-columns: 334px 2fr;
  column-gap: 25px;
  margin: 0 24px 180px;
  padding-top: 35px;
}

.about__logo-wrapper {
  display: flex;
  justify-self: center;
  justify-content: center;
  align-items: center;
  min-width: 240px;
  min-height: 240px;
  border-radius: 100%;
  background-color: #000;
}

.about__logo {
  max-width: 148px;
}

.about__title {
  align-self: center;
  font-size: var(--text-2lx);
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  grid-column: 2/-1;
  gap: 24px;
  font-size: var(--text-lg);
  line-height: 1.2em;
}

/* Подвал
  ========================================================================== */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  margin-bottom: 82px;
  padding: 0 50px;
  font-size: var(--text-base);
}

.footer__address {
  justify-self: start;
}

.footer__nav {
  text-align: center;
}

.footer__menu {
  list-style-type: none;
}

.footer__socials {
  display: flex;
  justify-self: end;
  gap: 48px;
}

.footer__social-link {
  display: block;
  max-width: 48px;
  max-height: 48px;
}
