.header {
  height: 293px;
  border: 4px solid red;
  padding: 92px 50px 96px;
}

.section {
  border: 4px solid red;
}

.cover {
  height: 757px;
  padding: 165px 50px 50px;
  background-image: url(/images/cover.jpg);
  background-size: cover;
  margin-bottom: 180px;
}

.lots {
  height: 723px;
  margin: 0 24px 120px;
}

.about {
  height: 595px;
  margin: 0 24px 180px;
}

.footer {
  height: 180px;
  border: 4px solid red;
  padding: 0 50px;
}
